/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-background-color: #000028;
  --rec-visibility: visible;
  --header-menu-button-text-color: var(--accent-color);
  --header-menu-button-border-color: var(--accent-color);
  --header-menu-button-border-color-on-hover: rgba(255, 0, 112, 0.4);
  --decorated-zone-color: var(--accent-color);
  --text-title-color: #DB00FF;
  --text-title-shadow-color: #FF0070;
  --article-text-color: #F1B2CE;
  --article-background-color: var(--accent-color);
  --article-header-text-color: #000028;
  --text-link-shadow-color: var(--accent-color);
  --text-link-focus-outline-color: var(--focus-outline-color);
  --background-image-url: url(../images/cover-image-dark.png);
}


.theme-dark .section__title {
  --article-header-text-color: var(--accent-color);
}

.theme-dark .title-group {
  --article-header-text-color: #000028;
}